.note-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(255, 217, 179, 0.2);
  box-shadow: 4px 4px 20px;

  b {
    font-weight: bold;
  }
}

.sheet {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.note {
  width: 70%;
}

.link {
  width: 13em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  button {
    font-size: 1em;
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 5px;
    border: none;
    box-shadow: 3px 3px 7px;
    margin-top: 10px;
    outline: none;
  }

  .deleteButton{
    background-color: rgb(179, 45, 0);
    box-shadow: 3px 3px 7px black;

    color: white;
  }

  button:hover{
    width: 150%;
    box-shadow: 10px 10px 20px black;
    font-size: 1.5em;
  }

  a:hover{
    width: 150%;
    box-shadow: 10px 10px 20px black;
    font-size: 1.5em;
  }
}
