<div class="all-patient-card">

<div class="patient-card" *ngIf="patient$ | async as patient">
  <h2>Fiche Patient</h2>
  <div class="sheet">
  <div class="patient">
  <p><b>Lastname:</b> {{ patient.lastName }}     <b>Firstname:</b> {{ patient.firstName }}</p>
  <p><b>Gender:</b> {{ patient.gender }}</p>
  <p><b>Birthdate:</b> {{ patient.birthDate }}</p>
  <p><b>Address:</b> {{ patient.address }}</p>
  <p><b>Phone:</b> {{ patient.phone }}</p>
  </div>
  <div class="link">
    <a routerLink="">Back to the patient list</a>
    <button (click)="onNewNote()">Write a new note</button>
    <button (click)="onEditPatient()">Edit the patient's sheet</button>
    <button class="deleteButton" (click)="onDeletePatient()">Delete the patient's sheet</button>
  </div>
  </div>
</div>

<div class="patient-card-separation">
<h2>Notes</h2>
</div>

<app-single-note *ngFor="let note of notes$ | async" [note]="note"></app-single-note>

</div>
